#main{
    font-size: 80%;
    /*background-color: #88200e;*/
    color: black;
    font-weight: 600;
    height: 1%;
}





#comp1{
    font-size: 80%;
    color: black;
    font-weight: 600;
    height: 2%;
}